<div id="<%= dom_id contact_request %>">
  <p>
    <strong>Company name:</strong>
    <%= contact_request.company_name %>
  </p>

  <p>
    <strong>Business type:</strong>
    <%= contact_request.business_type %>
  </p>

  <p>
    <strong>Contact person:</strong>
    <%= contact_request.contact_person %>
  </p>

  <p>
    <strong>Business email:</strong>
    <%= contact_request.business_email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= contact_request.phone_number %>
  </p>

  <p>
    <strong>Expected users:</strong>
    <%= contact_request.expected_users %>
  </p>

</div>
