<div id="<%= dom_id admin %>">
  <p>
    <strong>User name:</strong>
    <%= admin.user_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= admin.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= admin.password_digest %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= admin.phone_number %>
  </p>

</div>
