<div id="<%= dom_id store %>">
  <p>
    <strong>Amount of bags:</strong>
    <%= store.amount_of_bags %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= store.status %>
  </p>

  <p>
    <strong>From store:</strong>
    <%= store.from_store %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= store.location %>
  </p>

</div>
