<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= customer.phone_number %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= customer.location %>
  </p>

  <p>
    <strong>Unique identifier:</strong>
    <%= customer.unique_identifier %>
  </p>

</div>
