<div id="<%= dom_id sms_template %>">
  <p>
    <strong>Customer confirmation code template:</strong>
    <%= sms_template.customer_confirmation_code_template %>
  </p>

  <p>
    <strong>Service provider confirmation code template:</strong>
    <%= sms_template.service_provider_confirmation_code_template %>
  </p>

  <p>
    <strong>User invitation template:</strong>
    <%= sms_template.user_invitation_template %>
  </p>

  <p>
    <strong>Customer otp confirmation template:</strong>
    <%= sms_template.customer_otp_confirmation_template %>
  </p>

  <p>
    <strong>Service provider otp confirmation template:</strong>
    <%= sms_template.service_provider_otp_confirmation_template %>
  </p>

  <p>
    <strong>Admin otp confirmation template:</strong>
    <%= sms_template.admin_otp_confirmation_template %>
  </p>

  <p>
    <strong>Payment reminder template:</strong>
    <%= sms_template.payment_reminder_template %>
  </p>

</div>
