<div id="<%= dom_id service_provider %>">
  <p>
    <strong>Phone number:</strong>
    <%= service_provider.phone_number %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= service_provider.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= service_provider.email %>
  </p>

  <p>
    <strong>Provider code:</strong>
    <%= service_provider.provider_code %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= service_provider.status %>
  </p>

</div>
