<div id="<%= dom_id payment %>">
  <p>
    <strong>Payment code:</strong>
    <%= payment.payment_code %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= payment.phone_number %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= payment.name %>
  </p>

  <p>
    <strong>Amount paid:</strong>
    <%= payment.amount_paid %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= payment.total %>
  </p>

  <p>
    <strong>Remaining amount:</strong>
    <%= payment.remaining_amount %>
  </p>

</div>
