<div id="<%= dom_id sub_location %>">
  <p>
    <strong>Name:</strong>
    <%= sub_location.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= sub_location.code %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= sub_location.created_by %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= sub_location.category %>
  </p>

</div>
