<div id="<%= dom_id finances_and_account %>">
  <p>
    <strong>Category:</strong>
    <%= finances_and_account.category %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= finances_and_account.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= finances_and_account.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= finances_and_account.date %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= finances_and_account.reference %>
  </p>

</div>
